openapi: 3.2.0
info:
  title: Axiom Organizations API
  description: Axiom is a log management, event data, and observability platform.
  version: '1.0'
  contact:
    name: Axiom
    url: https://axiom.co
  license:
    name: Proprietary
    url: https://axiom.co/terms
servers:
- url: https://api.axiom.co
  description: US region (default)
- url: https://api.eu.axiom.co
  description: EU region
security:
- bearerAuth: []
tags:
- name: Organizations
  description: Organization-level settings.
paths:
  /v1/orgs:
    get:
      operationId: getOrgs
      tags:
      - Organizations
      summary: List organizations
      description: List the organizations the caller belongs to.
      x-endpoint-status: modeled
      responses:
        '200':
          description: A list of organizations.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Organization'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/orgs/{orgId}:
    parameters:
    - name: orgId
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getOrg
      tags:
      - Organizations
      summary: Get an organization
      description: Retrieve a single organization by ID.
      x-endpoint-status: modeled
      responses:
        '200':
          description: The requested organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '403':
          $ref: '#/components/responses/Forbidden'
    put:
      operationId: updateOrg
      tags:
      - Organizations
      summary: Update an organization
      description: Update organization-level configuration.
      x-endpoint-status: modeled
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Organization'
      responses:
        '200':
          description: The updated organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '403':
          $ref: '#/components/responses/Forbidden'
components:
  responses:
    Forbidden:
      description: Authentication failed or the token lacks the required scope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        message:
          type: string
          example: rate limit exceeded
    Organization:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        plan:
          type: string
        planCreated:
          type: string
          format: date-time
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token authentication using an Axiom API token or Personal Access Token (PAT). PAT-authenticated requests must also send the x-axiom-org-id header.
