openapi: 3.2.0
info:
  title: Axiom REST Roles API
  version: 1.0.0
  description: REST API for Axiom serverless log management and analytics. Manage datasets, ingest data, run queries, and administer annotations, dashboards, monitors, notifiers, tokens, users, views, and other resources.
servers:
- url: https://api.axiom.co
tags:
- name: Roles
paths:
  /roles:
    get:
      summary: List all roles
      responses:
        '200':
          description: OK
      tags:
      - Roles
      operationId: getRoles
      x-operation-id-source: derived
    post:
      summary: Create role
      responses:
        '201':
          description: Created
      tags:
      - Roles
      operationId: postRoles
      x-operation-id-source: derived
  /roles/{id}:
    parameters:
    - in: path
      name: id
      required: true
      schema:
        type: string
    get:
      summary: Retrieve role
      responses:
        '200':
          description: OK
      tags:
      - Roles
      operationId: getRolesById
      x-operation-id-source: derived
    put:
      summary: Update role
      responses:
        '200':
          description: OK
      tags:
      - Roles
      operationId: putRolesById
      x-operation-id-source: derived
    delete:
      summary: Delete role
      responses:
        '204':
          description: No Content
      tags:
      - Roles
      operationId: deleteRolesById
      x-operation-id-source: derived
x-generated-from: https://axiom.co/docs/restapi/introduction
x-generated-by: claude-crawl-2026-05-08
