openapi: 3.2.0
info:
  title: Axiom Users API
  description: Axiom is a log management, event data, and observability platform.
  version: '1.0'
  contact:
    name: Axiom
    url: https://axiom.co
  license:
    name: Proprietary
    url: https://axiom.co/terms
servers:
- url: https://api.axiom.co
  description: US region (default)
- url: https://api.eu.axiom.co
  description: EU region
security:
- bearerAuth: []
tags:
- name: Users
  description: Current user and organization members.
paths:
  /v1/user:
    get:
      operationId: getCurrentUserV1
      tags:
      - Users
      summary: Get the current user (v1)
      description: Retrieve the user associated with the authenticating token.
      x-endpoint-status: modeled
      responses:
        '200':
          description: The current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/user:
    get:
      operationId: getCurrentUser
      tags:
      - Users
      summary: Get the current user
      description: Retrieve the user associated with the authenticating token.
      x-endpoint-status: modeled
      responses:
        '200':
          description: The current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/users:
    get:
      operationId: getUsers
      tags:
      - Users
      summary: List organization members
      description: List the members of the organization.
      x-endpoint-status: modeled
      responses:
        '200':
          description: A list of users.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/users/{id}:
    parameters:
    - $ref: '#/components/parameters/ResourceId'
    get:
      operationId: getUser
      tags:
      - Users
      summary: Get a user
      x-endpoint-status: modeled
      responses:
        '200':
          description: The requested user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '403':
          $ref: '#/components/responses/Forbidden'
    delete:
      operationId: removeUserFromOrg
      tags:
      - Users
      summary: Remove a member from the organization
      x-endpoint-status: modeled
      responses:
        '204':
          description: The member was removed.
        '403':
          $ref: '#/components/responses/Forbidden'
components:
  responses:
    Forbidden:
      description: Authentication failed or the token lacks the required scope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    User:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        email:
          type: string
        role:
          type: string
    Error:
      type: object
      properties:
        message:
          type: string
          example: rate limit exceeded
  parameters:
    ResourceId:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: The resource ID.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token authentication using an Axiom API token or Personal Access Token (PAT). PAT-authenticated requests must also send the x-axiom-org-id header.
