openapi: 3.2.0
info:
  title: Axiom Dashboards API
  description: Axiom is a log management, event data, and observability platform.
  version: '1.0'
  contact:
    name: Axiom
    url: https://axiom.co
  license:
    name: Proprietary
    url: https://axiom.co/terms
servers:
- url: https://api.axiom.co
  description: US region (default)
- url: https://api.eu.axiom.co
  description: EU region
security:
- bearerAuth: []
tags:
- name: Dashboards
  description: Collections of charts and visualizations.
paths:
  /v2/dashboards:
    get:
      operationId: getDashboards
      tags:
      - Dashboards
      summary: List dashboards
      description: List dashboards visible to the caller. Supports limit (default 100, max 1000) and offset (default 0) pagination.
      x-endpoint-status: confirmed
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          maximum: 1000
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: A list of dashboards.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dashboard'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      operationId: createDashboard
      tags:
      - Dashboards
      summary: Create a dashboard
      x-endpoint-status: modeled
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dashboard'
      responses:
        '200':
          description: The created dashboard.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dashboard'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/dashboards/{id}:
    parameters:
    - $ref: '#/components/parameters/ResourceId'
    get:
      operationId: getDashboard
      tags:
      - Dashboards
      summary: Get a dashboard
      x-endpoint-status: modeled
      responses:
        '200':
          description: The requested dashboard.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dashboard'
        '403':
          $ref: '#/components/responses/Forbidden'
    put:
      operationId: updateDashboard
      tags:
      - Dashboards
      summary: Update a dashboard
      x-endpoint-status: modeled
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dashboard'
      responses:
        '200':
          description: The updated dashboard.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dashboard'
        '403':
          $ref: '#/components/responses/Forbidden'
    delete:
      operationId: deleteDashboard
      tags:
      - Dashboards
      summary: Delete a dashboard
      x-endpoint-status: modeled
      responses:
        '204':
          description: The dashboard was deleted.
        '403':
          $ref: '#/components/responses/Forbidden'
components:
  schemas:
    Error:
      type: object
      properties:
        message:
          type: string
          example: rate limit exceeded
    Dashboard:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        charts:
          type: array
          items:
            type: object
            additionalProperties: true
        layout:
          type: array
          items:
            type: object
            additionalProperties: true
  responses:
    Forbidden:
      description: Authentication failed or the token lacks the required scope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    ResourceId:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: The resource ID.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token authentication using an Axiom API token or Personal Access Token (PAT). PAT-authenticated requests must also send the x-axiom-org-id header.
