openapi: 3.2.0
info:
  title: Axiom Notifiers API
  description: Axiom is a log management, event data, and observability platform.
  version: '1.0'
  contact:
    name: Axiom
    url: https://axiom.co
  license:
    name: Proprietary
    url: https://axiom.co/terms
servers:
- url: https://api.axiom.co
  description: US region (default)
- url: https://api.eu.axiom.co
  description: EU region
security:
- bearerAuth: []
tags:
- name: Notifiers
  description: Notification channels monitors dispatch through.
paths:
  /v2/notifiers:
    get:
      operationId: getNotifiers
      tags:
      - Notifiers
      summary: List notifiers
      description: List all configured notifiers. Requires the notifiers|read scope.
      x-endpoint-status: confirmed
      responses:
        '200':
          description: A list of notifiers.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Notifier'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      operationId: createNotifier
      tags:
      - Notifiers
      summary: Create a notifier
      x-endpoint-status: modeled
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Notifier'
      responses:
        '200':
          description: The created notifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notifier'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/notifiers/{id}:
    parameters:
    - $ref: '#/components/parameters/ResourceId'
    get:
      operationId: getNotifier
      tags:
      - Notifiers
      summary: Get a notifier
      x-endpoint-status: modeled
      responses:
        '200':
          description: The requested notifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notifier'
        '403':
          $ref: '#/components/responses/Forbidden'
    put:
      operationId: updateNotifier
      tags:
      - Notifiers
      summary: Update a notifier
      x-endpoint-status: modeled
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Notifier'
      responses:
        '200':
          description: The updated notifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notifier'
        '403':
          $ref: '#/components/responses/Forbidden'
    delete:
      operationId: deleteNotifier
      tags:
      - Notifiers
      summary: Delete a notifier
      x-endpoint-status: modeled
      responses:
        '204':
          description: The notifier was deleted.
        '403':
          $ref: '#/components/responses/Forbidden'
components:
  responses:
    Forbidden:
      description: Authentication failed or the token lacks the required scope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        message:
          type: string
          example: rate limit exceeded
    Notifier:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
          description: Channel type, e.g. email, slack, pagerduty, webhook.
        properties:
          type: object
          additionalProperties: true
  parameters:
    ResourceId:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: The resource ID.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token authentication using an Axiom API token or Personal Access Token (PAT). PAT-authenticated requests must also send the x-axiom-org-id header.
